*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.DS_Store
obj/
.idea/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.apk
*.so
*.setup

jxcore-droid/libs/armeabi-v7a/gdbserver
jxcore-droid/libs/armeabi/gdbserver
jxcore-droid/libs/x86/gdbserver
bin/
gen/
*.cache
